* {
    margin: 0px;
    padding: 0px;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html {
    background-color: #1f1f1f !important;
    height: 100%;
    width: 100%;
    color: #fff !important;
    scroll-behavior: smooth;
}

#top {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(31, 31, 31, 0.0),
        rgba(31, 31, 31, 1)
        ),
        url(../images/header-bg.jpg);
    background-size: cover;
    background-position: center;
}

.navbar-brand {
    font-weight: 800 !important;
    font-size: 2.5rem !important;
    color: #00FECA !important;
    transition: all 0.3s ease-in-out;
}

.navbar-brand:hover {
    color: #fff !important;
    font-size: 2.9rem !important;
}

.header-content {
    width: 100%;
    height: auto;
    margin-top: 8rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-content-inner {
    width: 100%;
    height: 100%;
    color: #00FECA;
}

.header-content-inner .card {
    color: #000;
    margin-top: .9rem;
}

.header-content-inner .card button {
    border-radius: 50px;
    width: 100%;
}

.header-content-inner .card button:hover {
    background-color: #00FECA;
    color: #000;
    border-color: #00eebe;
    transition: all .5s ease-in-out;
}

section {
    width: 100%;
    height: 100vh;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
        ),
        url(../images/article-bg.jpg);
    background-size: cover;
    background-position: bottom;
    justify-content: center;
}

.info h1 {
    font-size: 4rem;
    font-weight: 800;
    color: #00FECA;
    margin-bottom: 1rem;
}

.info p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1rem;
}

.footer {
    height: 10vh;
}

.footer a {
    color: #fff;
    font-weight: 600;
}

.footer a:hover {
    color: #00FECA;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
        transition: all ease-in-out .5s;
        border: none;
        z-index: 9;
}

.float:hover {
    background-color:#00a87e;
    color: #fff;
}

.my-float{
	margin-top:7px;
}

.list-group-checkable .list-group-item {
  cursor: pointer;
  border-radius: .5rem;
}
.list-group-item-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.list-group-item-check:hover + .list-group-item {
  background-color: var(--bs-light);
}
.list-group-item-check:checked + .list-group-item {
  color: #fff;
  background-color: var(--bs-blue);
}
.list-group-item-check[disabled] + .list-group-item,
.list-group-item-check:disabled + .list-group-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}

.dropdown-item-danger {
  color: var(--bs-red) !important;
}
.dropdown-item-danger:hover,
.dropdown-item-danger:focus {
  color: #fff !important;
  background-color: var(--bs-red) !important;
}
.dropdown-item-danger.active {
  background-color: var(--bs-red) !important;
}

.form-control-dark {
  background-color: rgba(255, 255, 255, .05);
  border-color: rgba(255, 255, 255, .15);
}

@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}

.modal-alert .modal-dialog {
  width: 380px;
}