<div class="modal modal-alert py-5 fade" tabindex="-1" id="confirmaAction" role="dialog" aria-labelledby="ConfirmaAction" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-body p-4 text-center">
          <h5 class="mb-0">Deseja realmente fazer isso?</h5>
          <p class="mb-0">Para voltar atras, somente com uma maquina do tempo!</p>
        </div>
        <div class="modal-footer flex-nowrap p-0">
          <a class="btn btn-lg btn-link link-danger fs-6 text-decoration-none col-6 m-0 rounded-0 border-right btn-ok"><strong>Sim, confirma</strong></a>
          <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">Nao, cancelar</button>
        </div>
      </div>
    </div>
</div>