<div class="modal text-dark modal-dialog-scrollable" tabindex="-1" id="infosModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Infos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Sobre:</h3>
        <p>Projeto do curso de Sistemas de Informacao (UFF).</p>
        <p>DESENVOLVIMENTO WEB - prof. Leonardo Cruz da Costa.</p>
        <p>Forntend e backend: <a href="https://github.com/Diogo-Correa" target="_blank"><i class="fab fa-github"></i>Diogo Correa</a></p>
        <h3 class="text-danger">Importante!</h3>
        <p class="text-danger">O formulario de login so abre por completo apos o preenchimento de um CPF valido por parte do usuario!</p>
        <p class="text-danger">Todos os formularios que houverem campos de CPF, so poderao ser enviados apos o preenchimento de um CPF valido!</p>
        <h3 class="text-info">Mudancas:</h3>
        <p class="text-muted">Mudancas em relacao a primeira entrega:</p>
        <p>Auth system</p>
        <p>CRUD usuarios (User e Admin)</p>
        <p>CRUD categorias</p>
        <p>Remocao do alerta vermelho na pagina inicial do administrador.</p>
        <p>Remocao do alerta azul na pagina inicial do usuario (clique aqui para criar uma conta).</p>
        <p>Adicao de breadcrumb em todas as paginas.</p>
        <p>Float buttons para criacao agora estao nas paginas referentes as rotas (route user, category...). (BOTOES VERDES CANTO INFERIOR DIREITO)</p>
        <p>Novos itens adicionados ao menu do administrador</p>
        <p>Route charts, pagina para exibicao de dados referentes ao sistema.</p>
        <h5>Novos packages:</h5>
        <p class="text-muted">Backend</p>
        <p>app.util.errors: Exceptions do sistema.</p>
        <p>app.util.validate: Classes para validacao de formularios.</p>
        <p>app.controllers.filter: Filtros do sistema</p>
        <p class="text-muted">Frontend</p>
        <p>resources: views do CRUD (apenas da segunda parte)</p>
        <p>assets/components: Componentes que podem ser utilizados em toda a aplicacao. (Modais*, header...)</p>
        <p>assets/components/modais: formularios para criacao.</p>
        <h3 class="text-info">O que foi utilizado?</h3>
        <p>SweetAlert (msgs de erro ou sucesso)</p>
        <p>DataTables</p>
        <p>Fullcalendar (extrato)</p>
      </div>
    </div>
  </div>
</div>